div.numpad_input_container {
	margin: 5px;
	font-size: 200%;
	position: absolute;
	background-color: #FF0;
}

div.numpad_input_container table {
	border-collapse : collapse;
	margin-left: 40px;
	cursor: pointer;
}

div.numpad_input_container td {
	border: 1px solid #F00;
	width: 80px;
	text-align: center;
	padding: 10px;
}

.numpad_input_field {
	text-align: right;
	font-size: 200%;
}