* {
	margin: 0pt;
	padding: 0pt;
	-moz-user-select:none;
}
body {
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	color: #1C3451;
}

/* ==================== */
/* = Text And Headers = */
/* ==================== */
h1 {
	font-size: 250%;
	color: #3C5F7F;
	font-weight: bold;
}
h2 {
	font-size: 150%;
	color: #3C5F7F;
	font-weight: bold;
}
strong { font-weight: bold; }

/* ==================== */
/* = Buttons And Such = */
/* ==================== */
button {
	border: 2px solid #3C5F7F;
	background-color: #FFF;
	color: #3C5F7F;
	cursor: pointer;
}
button.big_button     { padding-top: 10px; padding-bottom: 10px; font-size: 200%; }
button.regular_button { padding-top: 7px;  padding-bottom: 7px;  font-size: 120%; }

a.button {
	border: 1px solid #3C5F7F;
	padding: 7px 15px;
	color: #3C5F7F;
	margin: 10px;
	font-weight: bold;
	font-size: 125%;
}

/* ========== */
/* = Errors = */
/* ========== */
.error {
	color: #F00;
	font-weight: bold;
}