* {
	margin: 0pt;
	padding: 0pt;
	-moz-user-select:none;
}
body {
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	color: #1C3451;
}

/* ==================== */
/* = Text And Headers = */
/* ==================== */
h1 {
	font-size: 250%;
	color: #3C5F7F;
	font-weight: bold;
	text-align: center;
	margin-top: 50px;
}
h2 {
	font-size: 200%;
	color: #3C5F7F;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
}

/* ==================== */
/* = Buttons And Such = */
/* ==================== */
button.big_button {
	border: 2px solid #3C5F7F;
	background-color: #FFF;
	color: #3C5F7F;
	padding-top: 10px; padding-bottom: 10px;
	cursor: pointer;
	font-size: 200%;
	width: 305px;
}

/* ========== */
/* = Errors = */
/* ========== */
.error_box {
	color: #F00;
}