div.canvas {
	background-color: #FFF;
	height: 550px;
	overflow: hidden;
}
	div.canvas dl dt, div.canvas dl dd.topItem {
		border-top: 1px solid #C6D8EC;
	}
	div.canvas dl dt, div.canvas dl dd {
		border-bottom: 1px solid #C6D8EC;
		border-left: 1px solid #C6D8EC;
		border-right: 1px solid #C6D8EC;
	}
	div.canvas dl dt {
		font-weight: bold;
		font-size: 14px;
		color: #E1E7F9;
		background-image: url('/site_media/images/letterGradient.png');
		background-repeat: repeat-x;
		padding-left: 5px;		
		height: 19px;
	}
	div.canvas dl dd {
		cursor: hand; cursor: pointer;
		font-size: 18px;
		padding: 8px 5px;
	}

	div.canvas div.noItems {
		text-align: center;
		border: 2px solid #ddd;
		padding: 40px 0px 50px;
		font-size: 150%;
		color: #C6D8EC;
	}
/* <end canvas */