div.numpad_input_container {
	font-size: 200%;
	background-color: #FFF;
}

div.numpad_input_container table {
	border-collapse : collapse;
	cursor: pointer;
}

div.numpad_input_container td {
	border: 1px solid #3C5F7F;
	width: 80px;
	text-align: center;
	padding: 10px;
}

.numpad_input_field {
	text-align: right;
	font-size: 120%;
}

.invisible {
	display: none;
}