a.keyboard_letters {
	float: left;
	display: block;
	width: 38px;
	padding: 7px;
	font-size: 200%;
	border: 1px solid #3C5F7F;
	text-decoration: none;
	margin: 5px;
	color: #3C5F7F;
	text-align: center;
}

a#clear_button {
	float: left;
	display: block;
	width: 134px;
	padding: 7px;
	font-size: 200%;
	border: 1px solid #3C5F7F;
	text-decoration: none;
	margin: 5px;
	color: #3C5F7F;
	text-align: center;
}


a.user_picker_names {
	float: left;
	clear: left;
	display: block;
	width: 96%;

	padding: 5px;
	font-size: 150%;
	border: 1px solid #3C5F7F;
	text-decoration: none;
	margin: 5px;
	color: #3C5F7F;

	overflow: hidden;
	white-space: nowrap;
}

a.selected {
	background-color: #3C5F7F;
	color: #FFF;
}

div#keyboard_line_container {
	clear: left;
	text-align: center;
}

input#keyboard_line {
	font-size: 200%;
	border: 0px;
	text-decoration: none;
	margin: 5px;
	color: #3C5F7F;
	background-color: #FFF;
	text-align: center;
	width: 400px;
}

div#keyboard_row_0 {
	clear: left;
}
div#keyboard_row_1 {
	margin-left: 32px;
	clear: left;
}
div#keyboard_row_2 {
	margin-left: 16px;
	clear: left;
}

div#user_select_canvas {
	clear: both;
	border: 1px solid #F00;
}