a.keyboard_letters {
	float: left;
	display: block;
	width: 38px;
	padding: 7px;
	font-size: 200%;
	border: 1px solid #3C5F7F;
	text-decoration: none;
	margin: 5px;
	color: #3C5F7F;
	text-align: center;
}

a.user_picker_names {
	float: left;
	clear: left;
	display: block;
	width: 100%;

	padding: 5px;
	font-size: 150%;
	border: 1px solid #3C5F7F;
	text-decoration: none;
	margin: 5px;
	color: #3C5F7F;

	overflow: hidden;
	white-space: nowrap;
}

a.selected {
	background-color: #3C5F7F;
	color: #FFF;
}