a.user_picker_letters {
	float: left;
	clear: left;
	display: block;
	width: 125px;
	padding: 7px;
	font-size: 200%;
	letter-spacing: 5px;
	text-align: center;
	border: 1px solid #3C5F7F;
	text-decoration: none;
	margin: 5px;
	color: #3C5F7F;
}

a.user_picker_names {
	float: left;
	clear: left;
	display: block;
	width: 100%;

	padding: 5px;
	font-size: 150%;
	border: 1px solid #3C5F7F;
	text-decoration: none;
	margin: 5px;
	color: #3C5F7F;

	overflow: hidden;
	white-space: nowrap;
}


a.selected {
	background-color: #3C5F7F;
	color: #FFF;
}

div#letter_select_canvas {
	float: left;
	width: 165px;
}

div#user_select_canvas {
	float: left;
	width: 250px;
}