{% extends "base.html" %}
{% block head_content %}
	<link rel="stylesheet" type="text/css" href="/site_media/css/numpad_input.css" />
	<link rel="stylesheet" type="text/css" href="/site_media/css/user_picker.css" />
	<script type="text/javascript" src="/site_media/js/numpad_input.js"></script>
	<script type="text/javascript" src="/site_media/js/user_picker.js"></script>
	<style type="text/css" media="screen">
		div#pageContainer {
			margin: 10px;
		}
		div#userPickerCanvas {
			float: left;
			width: 640px;
			margin-left: 170px;
		}
		div#login_content {
			float: left;
			margin-left: 5px;
			{% if form.errors %}
			opacity: 1.0;
			{% else %}
			opacity: 0;
			display: none;
			{% endif %}
		}
		p.error_box {
			margin-top: 15px;
		}
		input#id_password {
			border: 1px solid #3C5F7F;
			text-align: center;
			font-size: 30px;
			width: 302px;
		}
		div.numpad_input_container {
			margin: 5px 1px;
		}
	</style>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			var default_picked = $("#id_username").val();
			$("#id_password").numPadInput(false, "", true, false);

			$("#userPickerCanvas").userPicker();
		});

		var check_user_callback = function(result, status) {
			var result = result.result;
			if (result) {
				$("form").submit();
			} else {
				$("#id_password").val("");
				$("#errorBox").animate({ opacity: "1.0" }, 500);
			}
		}

		var checklogin = function() {
			var username = $("#id_username").val()
			var password = $("#id_password").val()
			$.getJSON("/json_api/", {"id": 1,
                                     "method": "check_user_login",
                                     "params" : '["'+username+'","'+password+'"]'
                                     },
                                     check_user_callback)

			// Never submit the form, callback will do it
			return false;
		}
	</script>
{% endblock %}
{% block content %}
	<h1>Welcome To Vancouver Island CrossFit</h1>
	<div id="pageContainer">
		<div id="userPickerCanvas"></div>
		<div id="login_content">
			<form method="post" onsubmit="return checklogin();" action="{% url django.contrib.auth.views.login %}">
				<div style="display:none">
					{{ form.username.label_tag }} <br />
					{{ form.username }}
				</div>
				<h2 id="name_plate">&nbsp;</h2>
				{{ form.password }}

				<button type="submit" class="big_button">Login</button>
				<input type="hidden" name="next" value="{{ next }}" />
				{% csrf_token %}
			</form>
			<p id="errorBox" class="error_box" style="{% if form.errors %}{% else %}opacity: 0.0;{% endif %}">Wrong PIN. Please try again.</p>
		</div>
	</div>
{% endblock %}