{% extends "bren/base.html" %}
{% block head_content %}
	<script type="text/javascript" src="/site_media/js/user_manager.js"></script>
	<script type="text/javascript" src="/site_media/js/user_scroller.js"></script>
	<style type="text/css" media="screen">
		div#user_scroller_container {
			border: 1px solid #000;
			height: 200px;
			float: left;
			width: 300px;
			overflow: auto;
		}

		div#user_scroller_container div.user_button {
			border-bottom: 1px solid #ccc;
			padding: 4px;
			height: 20px;
		}

		div#user_scroller_container div.user_button:hover {
			background-color: #eee;
		}

		input#userScroller_searchBox.empty_search {
			color: #999;
		}

		input#userScroller_searchBox {
			border: 1px solid #3C5F7F;
			padding: 2px;
			margin-bottom: 5px;
			color: #000;
		}

		div#user_viewer_container {
			float: left;
			border: 1px solid #000;
			width: 400px;
			height: 300px;
			margin-left: 20px;
		}
	</style>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			$("#user_scroller_container").userScroller();
			$("#user_viewer_container").userManager(112);
		});
	</script>
{% endblock %}
{% block content %}
	<div style="padding: 20px;">
		<h1>Manager!</h1>
		<br>
		<div id="user_scroller_container"></div>
		<div id="user_viewer_container">Hi</div>
	</div>
{% endblock %}