{% extends "bren/base.html" %}
{% block head_content %}
	<link type="text/css" href="/site_media/css/redmond/jquery-ui-1.7.2.custom.css" rel="stylesheet" />
	<link type="text/css" href="/site_media/css/manager.css" rel="stylesheet" />
	<script type="text/javascript" src="/site_media/js/user_manager.js"></script>
	<script type="text/javascript" src="/site_media/js/user_scroller.js"></script>
	<script type="text/javascript" src="/site_media/js/json2.js"></script>
	<script type="text/javascript" charset="utf-8">
		Navigation = function() {
		}
		Navigation.prototype.change_view = function(new_view) {
			$("div#user_manager_canvas").addClass('hidden');
			$("div#attendance_canvas").addClass('hidden');
			$("div#"+new_view+"_canvas").removeClass('hidden');

			if (new_view == 'user_manager') {
				$("#user_scroller_container").userScroller("user_viewer_container");

				$("#create_user_button").click(function(e) {
					$("#user_viewer_container").userManager("_CREATE_USER");
				});
			} else if (this.current_view == 'user_manager') {
				$('div#attendance_actions input').datepicker({ dateFormat: 'yy-mm-dd' });
			}
		}

		$(document).ready(function() {
			// Create our navigation controller
			var navigation = new Navigation()

			// Setup the navigation buttons
			$('ul#topNav li').click(function() {
				$('ul#topNav li').removeClass("selected");
				$(this).addClass("selected");
				navigation.change_view($(this).attr('navigation'));
			});

			// 'Click' the first one to setup a default view
			$('ul#topNav li:first').click();
		});
	</script>
{% endblock %}
{% block content %}
	<div id="top_content">
		<h1 id="topHeader">Vancouver Island Crossfit Manager</h1>
		<ul id="topNav">
			<li navigation="attendance">Attendance</li>
			<li navigation="user_manager">User Manager</li>
			<li navigation="rankings">Workout Rankings</li>
		</ul>
	</div>
	<div id="main_content">
		<div id="user_manager_canvas" class="hidden" style="padding: 20px;">
			<div id="user_scroller_container"></div>
			<a href="javascript:void(0);" id="create_user_button" class="button">Add User</a>
			<div id="user_viewer_container"></div>
		</div>

		<div id="attendance_canvas" class="hidden">
			<div id="attendance_actions">
				<label for="attendance_start">Start Date</label><input type="text" name="attendance_start" value="" id="attendance_start">
				<label for="attendance_end">End Date</label><input type="text" name="attendance_end" value="" id="attendance_end">
			</div>
			<iframe id="attendance_iframe" width="100%" src="/reports/attendance/2010-05-01/">
		</div>
	</div>
{% endblock %}