<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Crossfit DPL</title>

	<link rel="stylesheet" type="text/css" href="/site_media/css/reset-min.css">
	<link rel="stylesheet" type="text/css" href="/site_media/css/global.css">
	<style type="text/css" media="screen">
		body {
			text-align: center;
		}
		a {
			color: #3C5F7F;
		}
		h1#topHeader {
			padding: 33px 0px 15px 15px;
			font-size: 175%;
			background-color: #3C5F7F;
			color: #FFF;
			font-weight: normal;
			margin-bottom: 40px;
		}
		h2 {
			line-height: 1.5em;
		}
		hr {
			width: 80%;
			margin: 2em auto;
			background-color: #3C5F7F;
			height: 1px;
			border: none;
		}
	</style>
</head>
<body>
	<h1 id="topHeader">Crossfit Vancouver Island</h1>
	<h2>You Are Now Unsubscribe To Email Reports</h2>
	<h2>({{ email }})</h2>
	<hr>
	<a href="http://www.crossfitvancouverisland.com/">Crossfit Vancouver Island</a>
</body>
</html>
