<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Crossfit DPL</title>
</head>
<body style="color: #1C3451; font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;">
	<div style="color: #3C5F7F; font-size: 1.5em; font-weight: bold">Please Confirm Email for Weekly Reports</div>
	<p style="font-size: 1.25em"><a href="{{subscribe_url}}">Yes this is my email, Please send me weekly workout reports</a></p>
	<p>You have asked to be sent weekly workout reports from Vancouver Island Crossfit. We would like to confirm your email address to ensure you own the email address you signed up with.</p>
	<p>To receive the emails you <strong>must</strong> click the above link</p>
	<p>If you did not ask for these reports, nor do not want the weekly email do nothing. The reports will
		not be sent until this email address is confirmed.</p>
	<p>Is the link not working? Please paste the following url in full into your browser<br>
		<a href="{{subscribe_url}}">{{subscribe_url}}</a></p>
	<p>Thank you,<br>
		<a href="http://www.crossfitvancouverisland.com/">Crossfit Vancouver Island</a></p>
</body>
</html>
