{% if user %}
<h1>{{user}}'s {{completed_workout.workout}} done {{completed_workout.get_month}} {{completed_workout.date.day}} {{completed_workout.date.year}}</h1>
<h2>{{completed_workout.workout.comments}}</h2>
{% endif %}

{% for workout_element in workout_elements_list %}
	 {{workout_element.reps}} {{workout_element.element}}<br>
{% endfor %}
<br>

<h2>Your variations used:</h2>
{% for variation_used in variation_used_list %}
	  {{variation_used.variation.elements}} : {{variation_used.variation.name}}<br>
{% endfor %}
<br>