{% if user %}
<h1>{{user}}'s {{completed_workout.workout_class.workout.name}} done {{completed_workout.get_month}} {{completed_workout.workout_class.date.day}} {{completed_workout.workout_class.date.year}}</h1>
<h2>{{completed_workout.workout.comments}}</h2>
{% endif %}

	{%ifequal completed_workout.workout_class.workout.workout_type.name 'AMRAP' %}
		<h2> You did {{completed_workout.rounds}} rounds in {{completed_workout.workout_class.workout.time}} min. of </h2>
	{% endifequal %}

	{%ifequal completed_workout.workout_class.workout.workout_type.name 'Timed' %}
		<h2> You did {{completed_workout.workout_class.workout.rounds}} rounds of</h2>
	{% endifequal %}

{% for element_used in element_used_list %}
	 {{element_used.reps}} {{element_used.element}}<br>
{% endfor %}
	
	
	{%ifequal completed_workout.workout_class.workout.workout_type.name 'Timed' %}
		<h2>in {{completed_workout.mins}} mins. and {{completed_workout.secs}} secs.</h2>
	{% endifequal %}



<h2>Your variations used:</h2>
{% for Variation_used in variation_used_list %}
	  {{Variation_used.variation.element.name}} : {{Variation_used.variation.name}}<br>
{% endfor %}
<br>