 <html>                                                                  
 	<head>                                                                  
		<script type="text/javascript" src="/media/jquery-1.3.2.js"></script>
                <script type="text/javascript">                            
		

		$(document).ready(function() 
		{
			$("p#p1").hide();			
 			var i = 0;
			$("a#p1c").click(function() 
			{
				
				if (i == 0){
					$("p#p1").show("slow");	
					i = 1
					return
				}
		
				if (i == 1){
					$("p#p1").hide("slow");	
					i = 0
					return
				}



     			
			});
			

				
		});
                                      
 		</script>   
 	</head>                                                                 
 	

	<body>              
		<a href= "#" id = "p1C"> <h1> Client list </a>    
                                 
 		<p id ="p1">
			{% for client in clients %}
        			{{client}}<br>
    			{% endfor %}
		</p>
	
		<p id = "p2">
			<h1> Non hidden Heading </h1>
			This shouldn't be hidden

		</p>
	</body>                                                                 
 </html>
