
	<h1>Welcome to the Create user page</h1>

<form action= "/save_user/" method="post">
		
			User name : <input type="text" name="user_name" /><br>
			First name: <input type="text" name="first_name" /><br>
			Last name : <input type="text" name="last_name" /><br>
			PIN       : <input type="text" name="password" /><br>
			PIN Again: <input type="text" name="password_again" /><br>
			(optional) E-mail <input type="text" name="email" /><br>
	<input type="submit" value="Create User" />
</form> 


