<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Crossfit DPL</title>
	<link type="text/css" href="/site_media/css/redmond/jquery-ui-1.7.2.custom.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="/site_media/css/reset-min.css">
	<link rel="stylesheet" type="text/css" href="/site_media/css/global.css">
	<link rel="stylesheet" type="text/css" href="/site_media/css/numpad_input.css" />

	<script type="text/javascript" src="/site_media/js/jquery-1.3.2.min.js"></script>
	<script type="text/javascript" src="/site_media/js/jquery-ui-1.7.2.custom.min.js"></script>

	<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		// Setup the date picker
		$("#date_picker").datepicker({ dateFormat: 'yy-mm-dd' });

		var classChnagedFunc = function() {
			var theDate = $("#date_picker")[0].value;
			var theClass = $("#class_picker")[0].value;

			$("#formViewer")[0].src = "/workout_form/"+theDate+"/"+theClass+"/";
		}

		var dateChangedFunc = function() {
			var theDate = $("#date_picker")[0].value;
			$.getJSON("/json_api/", {"id": 1, "method": "get_classes", "params" : [theDate]}, function(result, status) {
				var class_drop_value = '';
				for (i in result.result) {
					var class_row = result.result[i];
					class_drop_value += '<option value="'+class_row.id+'">'+class_row.name+'</option>';
				}
				if (class_drop_value == '') {
					class_drop_value = '<option value="None">No Classes For Selected Date</option>';
				}
				$("#class_picker").html(class_drop_value);
				classChnagedFunc();
			})
		}

		// Hook in the onChange function
		$("#date_picker").change(dateChangedFunc);
		$("#class_picker").change(classChnagedFunc);
	});
	</script>

	<style type="text/css" media="screen">
		h1 {
			padding: 30px 0px 15px 15px;
			font-size: 120%;
			background-color: #3C5F7F;
			color: #FFF;
		}

		a#logoutLink {
			display: block;
			float: right;
			border: 2px solid #FFF;
			padding: 7px 15px;
			color: #FFF;
			margin: 10px;
		}

		div#date_class_picker {
			margin: 15px;
		}

		label {
			font-size: 120%;
		}
		input {
			font-size: 120%;
			border: 1px solid #3C5F7F;
		}
		select {
			border: 1px solid #3C5F7F;
			font-size: 120%;
		}

	</style>

</head>
<body>
	<a id="logoutLink" href="/logout">Logout</a>
	<h1>Welcome {{ display_name }}</h1>

	<div id="date_class_picker">
		<label for="date_picker">Select Date:</label>
		<input style="width: 150px" id="date_picker" type="text" />

		<label style="margin-left: 45px;" for="class_picker">Select Class:</label>
		<select name="class_picker" id="class_picker">
			<option value="no_date">Please Select A Date</option>
		</select>
	</div>



	<iframe id="formViewer"></iframe>
</body>
</html>
