{% extends "base.html" %}
{% block head_content %}
	<link type="text/css" href="/site_media/css/redmond/jquery-ui-1.7.2.custom.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="/site_media/css/numpad_input.css" />
	<link rel="stylesheet" type="text/css" href="/site_media/css/jquery.simplemodal.css" />
	<script type="text/javascript" src="/site_media/js/jquery.simplemodal.js"></script>

	<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		// Setup the date picker
		$("#date_picker").datepicker({ dateFormat: 'yy-mm-dd' });

		var classChnagedFunc = function() {
			var theDate = $("#date_picker")[0].value;
			var theClass = $("#class_picker")[0].value;

			$("#formViewer")[0].src = "/workout_form/"+theDate+"/"+theClass+"/";
		}

		modal_class_pick_func = function(class_id, class_name) {
			var theDate = $("#date_picker")[0].value;
			$("#formViewer")[0].src = "/workout_form/"+theDate+"/"+class_id+"/";

			$("#class_name").html(class_name);
			$("#class_picker")[0].value = class_id;
		}

		var dateChangedFunc = function() {
			load_class_data(classChnagedFunc);
		}

		var load_class_data = function(callBack) {
			var theDate = $("#date_picker")[0].value;
			$.getJSON("/json_api/", {"id": 1, "method": "get_classes", "params" : [theDate]}, function(result, status) {
				var class_drop_value = '';
				var class_modal_value = '';
				for (i in result.result) {
					var class_row = result.result[i];
					class_drop_value += '<option value="'+class_row.id+'">'+class_row.name+'</option>';
					class_modal_value += '<a href="#" onclick="modal_class_pick_func('+class_row.id+', \''+class_row.name+'\')">'+class_row.name+'</a>'
				}
				if (class_drop_value == '') {
					class_drop_value = '<option value="None">No Classes For Selected Date</option>';
					class_modal_value = '<div onclick="showDateClassPickers(); $(\'#date_picker\').focus();"><h2>No Classes For Today</h2><p>[ Close ]</p></div>';
				}
				$("#class_picker").html(class_drop_value);
				$("#modal_class_selection").html(class_modal_value);
				if (callBack != undefined) {
					callBack();
				}
			})
		}

		// Hook in the onChange function
		$("#date_picker").change(dateChangedFunc);
		$("#class_picker").change(classChnagedFunc);

		var curDate = new Date();
		var year = curDate.getFullYear();
		var month = curDate.getMonth()+1;
		if (month < 10) month = "0" + month;
		var day = curDate.getDate();
		if (day < 10) day = "0" + day;
		var dateStr = year+"-"+month+"-"+day;
		$("#date_picker").val(dateStr);
		load_class_data();

		$.modal($('#basic-modal-content'), {'opacity':70,'close':false});
	});

	var showDateClassPickers = function() {
		$("#defualt_date").addClass('invisible');
		$("#date_class_picker").removeClass('invisible');

		$("#topHeader").animate({
			paddingTop: "10px"
		}, 500 );

		$("#date_class_picker").animate({
			paddingTop: "8px",
			paddingBottom: "8px",
		}, 500 );
	}
	</script>

	<style type="text/css" media="screen">
		h1 {
			padding: 33px 0px 15px 15px;
			font-size: 175%;
			background-color: #3C5F7F;
			color: #FFF;
			font-weight: normal;
		}
		h2 {
			font-size: 150%;
			color: #3C5F7F;
		}
		div#modal_class_selection h1 {
			text-align: center;
		}
		div#modal_class_selection h2 {
			display: block;
			text-align: center;
			margin: 60px 0pt 10px;
		}
		div#modal_class_selection p {
			display: block;
			text-align: center;
		}
		div#defualt_date {
			float: right;
			clear: right;
			color: #FFF;
			margin-right: 10px;
		}
		div#defualt_date a {
			border: 2px solid #3C5F7F;
			padding: 5px 15px 7px;
			display: block;
			float: right;
			margin-top: 10px;
			color: #3C5F7F;
		}

		a#logoutLink {
			display: block;
			float: right;
			border: 2px solid #FFF;
			padding: 7px 15px;
			color: #FFF;
			margin: 10px;
			font-weight: bold;
		}

		div#date_class_picker {
			padding: 0pt 15px;
			background-color: #ccc;
			border-bottom: 2px solid #3C5F7F;
			margin-bottom: 5px;
		}

		label {
			font-size: 150%;
		}
		input {
			font-size: 150%;
			border: 1px solid #3C5F7F;
		}
		select {
			border: 1px solid #3C5F7F;
			font-size: 150%;
		}

		iframe {
			margin-left:15px;
			width: 995px;
			height: 590px;
			border: none;
		}

		.ui-datepicker td span, .ui-datepicker td a { font-size: 200%; }
		.ui-datepicker { width: 800px; }
		.ui-datepicker-calendar thead tr * { font-size: 120%; }
		.ui-datepicker-calendar tbody tr td a { padding-bottom: 30px; }

	</style>
{% endblock %}
{% block content %}
	<a id="logoutLink" href="/logout">Logout</a>
	<div id="defualt_date">
		{{ cur_date_str }} ~ <span id="class_name"></span> Class <br>
		<a href="javascript:void(0)" onclick="showDateClassPickers()">Change Date / Class </a>
	</div>
	<h1 id="topHeader">Welcome {{ display_name }}</h1>
	<div id="date_class_picker" class="invisible">
		<label for="date_picker">Date:</label>
		<input style="width: 200px" id="date_picker" type="text" />

		<label style="margin-left: 45px;" for="class_picker">Class:</label>
		<select name="class_picker" id="class_picker">
			<option value="no_date">Please Select A Date</option>
		</select>
	</div>
	<div id="basic-modal-content">
		<h1>Select A Class Please</h1>
		<div id="modal_class_selection" class="simplemodal-close"></div>
	</div>
	<iframe id="formViewer"></iframe>
{% endblock %}