<html>

	<head>
		<script type="text/javascript" src= "/Templets/Bren/jquery.js"></script>          
			<script type="text/javascript">
		
			$(document).ready(function() {
				$("p").hide();			
				
			});
		</script>


		<link rel="stylesheet" href="style.css" />
		<title>{% block title %}My amazing site{% endblock %}</title>

		                                         		 
	</head>

	<body>
    

		<table border="1">
			<tr>
 
 				<td>
					<p>
						dsjafhlskdfhlskfh
						<div id="client_list">
				        	{% block client_list %}{% endblock %}
						</div>
					</p>
				</td>
	
				<td>
						<div id="co_list">
						{% block co_list %}{% endblock %}
					        </div>
				</td>


				<td>
				        <div id="client_info">
					{% block client_info %}{% endblock %}
        				</div>
				</td>
	
			</tr>
	</body>
</html>
