{% extends "bren/base.html" %}

{% block title %}My amazing blog{% endblock %}


{% block client_info %}
	{% if user %}
		<h1>{{user}}'s info page</h1>
		First name: {{user.first_name}}<br>
		Last name: {{user.last_name}}<br>
		E-mail: {{user.email}}<br>
		Started: {{user.date_joined}}<br>
		Paid till:<br>
		Gym: 
	{% endif %}
{% endblock %}


{% block client_list %}
	{% if user_list %}
		{% for user in user_list %}
			<a href="http://localhost:8000/users/{{user.id}}/"> {{user.first_name}}  {{user.last_name}}</a><br>
		{% endfor %}
	{% else %}
			<p>No users are available.</p>
	{% endif %}
{% endblock %}

{% block co_list %}
	<h1>Completed Workout List for {{user}}</h1>
	{% if completed_workout_list %}
		{% for completed_workout in completed_workout_list %}

			{%ifequal completed_workout.workout_class.workout.workout_type.name "Timed"%}
        			<a href="http://localhost:8000/users/{{user.id}}/{{completed_workout.id}}/"> {{completed_workout.mins}}:{{completed_workout.secs}} {{completed_workout.workout_class.workout.name}} done {{completed_workout.get_month}} {{completed_workout.workout_class.date.day}} {{completed_workout.workout_class.date.year}} </a><br/>
			{% endifequal %}

			{%ifequal completed_workout.workout_class.workout.workout_type.name "AMRAP"%}
        			<a href="http://localhost:8000/users/{{user.id}}/{{completed_workout.id}}/"> {{completed_workout.rounds}} rounds of {{completed_workout.workout_class.workout.name}} done {{completed_workout.get_month}} {{completed_workout.workout_class.date.day}} {{completed_workout.workout_class.date.year}} </a><br/>
			{% endifequal %}    


		{% endfor %}
	{% else %}
	{% endif %}
{% endblock %} 